body {
  background-color: #000; /* Grey background */
  font-family:"Playfair Display",serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.product-card {
  background-color: #111;
  border: 3px solid #C9A76A;
  border-radius: 15px;
  width: 350px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(201,167,106,0.2);
}

.product-card img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.price {
  color:#C9A76A;
  font-size: 1.3em;
  margin: 10px 0;
  font-weight:bold;
}

.desc {
  font-size: 0.9em;
  color: #ddd;
}

button {
  background-color:#C9A76A;
  color: #000;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top:15px;
  transition: 0.3s;
}

button:hover {
  background-color: #b8945f;
  transform:scale(1.05);
}