body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:20px;
}

.container{
    border:3px solid black;
    background-color:rgb(236, 209, 214);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    gap:40px;
    padding:40px;
    margin:20px;
}

.card{
    background-color:pink;
    width:220px;
    text-align:center;
    border-radius:10px;
    padding:20px;
    box-shadow:0 4px 8px rgba(0,0,0,0.5);
    border:2px solid #040d49;
}
.circle{
    width:90px;
    height:90px;
    border-radius:50%;
    overflow:hidden; 
    margin:0 auto 10px;
    border:3px rgb(228, 61, 114);
}

.circle img{
    width:100%;
    height:100%;
    object-fit:cover; 
    display:block;
}

h3{
    margin-bottom:5px;
}

p{
    margin:5px 0;
    font-size:14px;
}
