div{
    height:300px;
    width:300px;
    /*border-width:3px;
    border-style:solid;
    border-color:rgb(200, 39, 98);*/
    border:6px solid rgb(200,39,98);
    border-radius: 10%;
    background-color:pink;
    box-shadow:rgb(20, 20, 78);
    text-align:center;
    font-weight:bolder;
    font-size:40px;
    padding:100px;

}