body{ 
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(242, 217, 217);
    text-align:center;
    margin:20px;
}
h1{
    color:black;
    margin-bottom: 30px;
}
.product-box{
    background-color: white;
    width:300px;
    margin:0 auto;
    padding:15px;
    border: 2px solid #C9A76A;
    border-radius: 8px;

}
.product-box img {
    width:100%;
    height:auto;
    border-radius: 5px;
}
.product-box h2{
    color:black;
    font-size:20px;
    margin-top:10px 0;

}
.price{
    color:rgb(2, 17, 82);
    font-weight:bold;
    margin-bottom:15px;
}
button{
    background-color:rgb(245, 57, 126);
    color:black;
    padding:10px 20px;
    border:none;
    border-radius:5px;
}
button:hover{
background-color: #e4a4af;
        transform: scale(1.08);
    }