body {
    background-color: #000; /* Deep black */
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}


.product-card {
    background: linear-gradient(145deg, #0b0b0b, #111);
    border: 2px solid #C9A76A; /* Gold border */
    border-radius: 18px;
    width: 350px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 25px rgba(201, 167, 106, 0.25); /* Gold glow */
    transition: 0.4s ease-in-out;
}


.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px rgba(201, 167, 106, 0.45);
    border-color: #e8c98f; /* Brighter gold */
}


.product-card img {
    width: 280px;
    margin: 10px auto;
    filter: drop-shadow(0 0 20px rgba(201, 167, 106, 0.25));
    transition: 0.4s;
}

.product-card img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 30px rgba(201, 167, 106, 0.45));
}

/* Price */
.price {
    color: #C9A76A; /* Gold color */
    font-size: 1.5em;
    margin: 12px 0;
    font-weight: bold;
    letter-spacing: 1px;
}


.desc {
    font-size: 1em;
    color: #cfcfcf;
    margin-top: 8px;
    opacity: 0.85;
    line-height: 1.4;
}


button {
    background-color: #C9A76A;
    color: #000;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e8c98f;
    transform: scale(1.08);
}