/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: #000;
  padding: 25px;
}

/* Heading */
.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 38px;
   color: #C9A76A;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Product Grid */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

/* Card Box */
.card {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #222;
}

/* Hover effect */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(255,215,0,0.25);
  border-color: #C9A76A;
}

/* Product Image */
.card img {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

/* Title */
.card h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
  text-transform: capitalize;
}

/* Description */
.card p {
  font-size: 13px;
  color: #bbb;
  margin-bottom: 15px;
}

/* Price */
.price {
  color: #C9A76A;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Button */
.card button {
  width: 100%;
  padding: 10px;
  color: black;
  background:  #C9A76A;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

/* Button Hover */
.card button:hover {
  background: #e6c200;
  transform: scale(1.08);
}

/* Responsive: Tablet */
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive: Mobile */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 30px;
  }
}